{% extends '../base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Documents in {{ category }}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Title</th>
                <th>Uploaded By</th>
                <th>Uploaded At</th>
                <th>Download</th>
                {% if user.is_staff %}
                <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td><i class="fas fa-file-alt"></i></td>
                <td>{{ document.title }}</td>
                <td>{{ document.uploaded_by.username }}</td>
                <td>{{ document.uploaded_at }}</td>
                <td><a href="{{ document.file.url }}" class="btn btn-success">Download</a></td>
                {% if user.is_staff %}
                <td>
                    <form method="post" action="{% url 'document_delete' document.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
