{% extends '../base.html' %}
{% load static %}

{% block title %}Documents{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Document Categories</h2>
    <div class="list-group">
        <a href="{% url 'document_category_list' 'Form-or-Template' %}" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="fas fa-folder-open fa-2x text-primary mr-3"></i>
            Form or Template
        </a>
        <a href="{% url 'document_category_list' 'Policy' %}" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="fas fa-folder-open fa-2x text-success mr-3"></i>
            Policy
        </a>
        <a href="{% url 'document_category_list' 'Operational Controls Procedure' %}" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="fas fa-folder-open fa-2x text-warning mr-3"></i>
            Operational Controls Procedure
        </a>
        <a href="{% url 'document_category_list' 'System documents' %}" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="fas fa-folder-open fa-2x text-danger mr-3"></i>
            System documents
        </a>
    </div>
</div>
{% endblock %}

