body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    flex-direction: column;
}
.navbar-custom {
    background-color: #0F52BA;
    width: 100%;
}
.navbar-custom .navbar-brand {
    color: #fff;
    margin: auto;
}
.register-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}
.register-container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.register-container .btn {
    width: 100%;
}
